.about-info {
  padding-top: 10vh;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1fr 2fr;

  .bio-image {
    //height: 100%;
  }

  .bio {
    text-align: center left;

    h3 {
      margin-top: 0;
    }
  }
}
