.medz1 {
  //max-width: 100%;
}
.medz1image {
  max-width: 33%;
}

.textcenter {
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
}

.textcentersimple {
  //margin: 50px;
  padding: 400px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
}

.headercentersimple {
  //margin: 50px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: xx-large;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */

//Multidimension flex box did not work. So used grid instead
.grid-container1 {
  background-color: rgb(235, 235, 235);
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.nested-grid-container1 {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  color: #000000;
  font-weight: bold;
  font-size: 1.2rem;
}

.image {
  max-width: 100%;
  padding: 20px;
}

.twoimagebox {
  display: grid;
  //width: 100%;
  grid-template-columns: 1fr 1fr;

  .boximage {
    max-width: 100%;
    margin: auto;
    padding-right: 20px;
  }
}
