.middletext {
  font-size: 1.3rem;
  text-align: center;
  padding: 5vh 0;
}

.sectionheading {
  padding-top: 3vh;
  font-size: 1.7em;
  font-weight: bold;
  text-align: center;
}

.sectiontext {
  padding: 0vh 10vw;
  text-align: justify;
  //text-indent: 20px;
}

.subsectionheading {
  padding: 0vh 10vw;
  padding-top: 2vh;
}

.grid5x3 {
  //padding-right: 50px;
  //background-color: black;
  padding: 1vh 10vw;
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  .grid5x3image {
    width: 100%;
    max-width: 330px;
    margin: 20px;
    border-radius: 10px;
    border: grey 1px solid;
  }
}
